<script>
    function favoriteMe(element) {
      let id = {
          movieID: element.value
      }
      fetch('http://localhost:3000/api/favorites', {
          method: 'POST',
          credentials: 'include',
          body: JSON.stringify(id),
          headers: {
            "Content-Type": "application/json; charset=utf-8"
          }
      })
        .then(function(response) {
            //console.log(response)
        })
        .catch(function(err) {
            //console.log(err)
        })
    }

</script> 

<script>
    (function() {
        fetch('http://localhost:3000/api/getfavorites', {
          method: 'GET',
          credentials: 'include',
          headers: {
            "Accept": "application/json; charset=utf-8"
          }
      })
        .then(response => response.json())
        .then(function(response) {
            console.log(response)
           for(var i = 0; i < response.length; i++) {
               let checkedBox = document.getElementById(response[i])
               if (checkedBox !== null) {
                    checkedBox.checked = true;
                }
           }
        })
        .catch(function(err) {
            //console.log(err)
        })
    

    })()
</script>

<% movies.forEach(function(movie) { %>
  <div style="float: left;">
    <div class="row">
        <div class="col-lg-4">
              <div class="card container-fluid" style="width: 18rem; height: 38rem; margin-left: 5px; margin-right: 2px; margin-bottom: 5px">
                  <img class="card-img-top" src="<%= movie.Poster %>" style="margin-top: 5px" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title"><%= movie.Title %></h5>
                      <p class="card-text"><%= movie.Year %></p>
                      <a href="/api/<%= movie.imdbID %>" class="btn btn-primary">More Info</a>
                      <br />

                       <div class="form-check" style="margin-top: 5px">
                            <label class="form-check-label" for="exampleCheck1"> 
                                <input type="checkbox" class="form-check-input" value="<%= movie.imdbID %>" id="<%= movie.imdbID %>" onchange="favoriteMe(this)"> 
                                Favorite Me
                            </label>
                        </div>

                  </div>
              </div>
        </div>
    </div>
  </div>
  <% })  %>  
